<div class='animated-card' id='animated-test'>
    <img src="{% static 'app/images/pricing.png' %}" alt="" width='296' height='225'>
    
    <div class='sliding-card primary'>
        <div class="always-visible">
            <h3>Authentic Local Food</h3>
            <h5>5hr | See price list</h5>
        </div>
        <div class="slides-up">
            <p>Taste the most delicious and scrumptious food in a private dinner setting. Enjoy meals passed down from generation to generation....</p>
        </div>
    </div>
    <div class="pocket secondary">
        <div style='margin:50px 100px;'>
            <button class="btn  "> Book It</button>
        </div>
    </div>
</div>