{% extends 'window.html' %}
{% load static %}
{% block content %}

<h3>Book Our Adventures</h3>
<hr>


<div class="adventure-rows">
    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/rice.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=1 %}">Authentic Local Food</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Taste the most delicious and scrumptious food in a private dinner setting. Enjoy meals passed down
                    from generation to generation....</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/nocturnal.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=2 %}">Nocturnal Life</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>If nightlife is something you enjoy, let us whisk you away on a 5-hour tour, led by fun-loving adventurers who know where to...</p>
            </div>
        </div>
        <div class="pocket primary">

        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/mbare.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=3 %}">Mbare Township</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>A hub of culture and creativity, Mbare boasts the largest indigenous textile and wholesale retailers. Let us venture through...</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>
</div>
<div class="adventure-rows">
    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/ngomakurira.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=4 %}">Ngomakurira Hike</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Ngomakurira is known to many Harare residents as an area of intense beauty and great spiritual significance. A strenuous hike...</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/epworth.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=5 %}">Epworth</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Extraordinary shaped rocks, seamlessly balancing on nothing. Enjoy the Zimbabwean sunset with locally crafted snacks and...</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/curio.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=6 %}">Craft And Curio Markets</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>A trek around Harare's handmade gems. Expect to find one of a kind african print materials, clothing and accessories. Carefully...</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>
</div>
<div class="adventure-rows">
    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/domboshava.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=7 %}">Domboshava Caves</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Domboshava is a village located in the granite hills of northern Harare. The name is derived from dombo meaning "rock" and shava...</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/gango.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=8 %}">It's A Gango!</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Experience the mouth watering flavours of assorted meats astoundingly balanced with local fresh veg, a pot of sadza and a cold...</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/thirsty.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=9 %}">Ummm Thirsty</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Dive into the art of wine making, drinking and grape growing. Start your day with a tour of the vineyards, followed by a three....</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>
</div>
<div class="adventure-rows">

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/elephant.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=10 %}">Elephant Escapade</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Taste the most delicious and scrumptious food in a private dinner setting. Enjoy meals passed down
                    from generation to generation....</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/horsing.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3><a class='text-white' href="{% url 'app:bookings' pk=11 %}">Horsing Around</a></h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>If nightlife is something you enjoy, let us whisk you away on a 5-hour tour, led by fun-loving adventurers who know where to...</p>
            </div>
        </div>
        <div class="pocket primary">
        </div>
    </div>

</div>



{% endblock content %}