{% extends 'window.html' %}
{% load static %}


{% block content %}

<div class="jumbotron jumbotron-fluid shadow gap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="detail-image" style="background-image:url({{object.image.url}})">
                
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <h1 class="display-3">{{object.name}}</h1>
                <p class="lead">Book Our Adventure</p>
                <hr class="my-2">
                <p>More info</p>
            <p class='center'>{{object.duration}} hrs | See Price List</p>
            <p>Days available: {{object.days}}</p>
                <p class="lead center">
                    <p>
                        {{object.description | linebreaks}}
                    </p>
                    <div id='booking-widget'>
                        <div class='participant-widget'>
                            <button onclick='increment()' class='btn primary'><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <div id='participant-count'>0</div>
                            <button onclick='decrement()' class='btn primary '><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </div>
                        <h4>Price: $<span id='price'></span></h4>
                        
                        <button class=' btn primary btn-lg text-white' onclick='addToCart()'>Add to Cart</button>
                    </div>
                    <p id='booking-string'></p>
                    <script>
                        var count = 0
                        var price = 0
                        function increment(){
                            if(count < 10){
                                count = count + 1
                            }
                            updatePrice()
                        }

                        function decrement(){
                            if(count > 0){
                            count = count - 1
                            }
                            updatePrice()
                        }

                        function updatePrice(){
                            $('#participant-count').text(count)
                            $.ajax({
                                method: 'GET',
                                'url':'/get-price/{{object.pk}}/' + count + '/'}).done( 
                                function(data){
                                    $('#price').text(data.price)
                                    price = data.price
                            })
                        }

                        function addToCart(){
                            $.ajax({
                                method: 'POST',
                                url: '/add-booking-line/',
                                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                                data: {
                                    adventure: "{{object.pk}}",
                                    participants: count,
                                    price: price
                                }
                            }).done(
                                function(data){
                                    $('#booking-widget').hide()
                                    $('#booking-string').text(
                                        "{{object}} for "+ count + 
                                        " participants added to your booking.")
                                }
                            )
                            
                        }

                    </script>
                    
                    <a class=' btn primary btn-lg text-white'href="{% url 'app:create-booking'  %}">View Booking</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}