{% extends 'window.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid" id='scaling-carousel'>
    <img id='img-1' src="{% static 'app/images/elephant.png' %}" alt="" class='scaling-carousel-active'>
    <img id='img-2' src="{% static 'app/images/domboshava.png' %}" alt="">
    <img id='img-3' src="{% static 'app/images/thirsty.png' %}" alt="">
    <img id='img-4' src="{% static 'app/images/nyama.png' %}" alt="">
    <div >
        <h1 class="display-3" style='text-align:center;width:100%;color:white;'>Experience | Local Gems</h1>
    </div>
</div>
<script>
    var active = 'img-1'
    var states = ['img-1', 'img-2', 'img-3', 'img-4']
    setInterval(function(){
        var currentEl = document.getElementById(active)
        currentEl.classList.remove('scaling-carousel-active')
        var index = states.indexOf(active)
        if(index == 3){
            active = 'img-1'
        }else{
            active = states[index + 1]
        }

        currentEl = document.getElementById(active)
        currentEl.classList.add('scaling-carousel-active')
    }, 3000)

</script>

<div  style='display:flex;flex-direction:row;justify-content:center;'>
<ul class="activities">
    <li><a class = "text-white btn primary btn-lg" href="{% url 'app:eat' %}">Eat</a></li>
    <li><a class = "text-white btn primary btn-lg" href="{% url 'app:play' %}">Play</a></li>
    <li><a class = "text-white btn primary btn-lg" href="{% url 'app:relax' %}">Relax</a></li>
</ul>

    <div>
        <img src="" alt="">
    </div>
    <div class=''>
        <img src="" alt="">
    </div>
    <div class=''>
        <img src="" alt="">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top first" src="{% static 'app/images/elephant.png' %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row ">
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <img class="card-img-top second" src="" alt="">
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="card">
                <img class="card-img-top third" src="{% static 'app/images/thirsty.png' %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top fourth" src="{% static 'app/images/horsing.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Testimonials</h2>
                <hr class="my-2">
                <div id="testimonials" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials" data-slide-to="1"></li>
                        <li data-target="#testimonials" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="testimonial"><i class="fas fa-quote-left fa-3x"></i>
                            <p>A true adventure with the perfect strangers</p>
                            <br>
                                <p><b>Lisa,</b> <i>China</i></p>
                            
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial">
                                <i class="fas fa-quote-left fa-3x"></i>
                                <p>Spent a week with adventuresZW. The food was exceptional, the hike tiring, but worth the view.</p>
                                
                                <br>
                                <p><b>Jade,</b> <i>Mauritius</i></p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial">
                                <i class="fas fa-quote-left fa-3x"></i> 
                                <p>Accommodating and fun. Chose a few events from their calendar.</p>
                                
                                <br>
                                <p><b>Tristan,</b> <i>Australia</i></p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="wide-testimonials">
                    <div class="testimonial"><i class="fas fa-quote-left fa-3x"></i>
                            <p>A true adventure with the perfect strangers</p>
                            <br>
                                <p><b>Lisa,</b> <i>China</i></p>
                            
                            </div>
                            <div class="testimonial">
                                <i class="fas fa-quote-left fa-3x"></i>
                                <p>Spent a week with adventuresZW. The food was exceptional, the hike tiring, but worth the view.</p>
                                
                                <br>
                                <p><b>Jade,</b> <i>Mauritius</i></p>

                            </div>
                            <div class="testimonial">
                                <i class="fas fa-quote-left fa-3x"></i> 
                                <p>Accommodating and fun. Chose a few events from their calendar.</p>
                                
                                <br>
                                <p><b>Tristan,</b> <i>Australia</i></p>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}