{% extends 'window.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" style='text-align:center;'>Experience | Local Gems</h1>
    </div>
</div>

<div  style='display:flex;flex-direction:row;justify-content:center;'>
<ul class="activities">
    <li><a>Eat</a></li>
    <li><a>Play</a></li>
    <li><a>Relax</a></li>
</ul>

    <div>
        <img src="" alt="">
    </div>
    <div class=''>
        <img src="" alt="">
    </div>
    <div class=''>
        <img src="" alt="">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top first" src="{% static 'app/images/elephant.png' %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row ">
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <img class="card-img-top second" src="" alt="">
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="card">
                <img class="card-img-top third" src="{% static 'app/images/thirsty.png' %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top fourth" src="{% static 'app/images/horsing.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4>A true adventure with the perfect strangers</h4>
            </div>
            <div class="col-4">
                <h4>Spent a week with adventuresZW. The food was exceptional, the hike tiring, but worth the view.</h4>
            </div>
            <div class="col-4">
                <h4>Accommodating and fun. Chose a few events from their calendar.</h4>
            </div>
        </div>
    </div>
</div>

{% endblock content %}