{% extends 'window.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" style='text-align:center;'>Experience | Local Gems</h1>
    </div>
</div>

<div  style='display:flex;flex-direction:row;justify-content:center;'>
<ul class="activities">
    <li><a class = "text-white btn primary btn-lg" href="{% url 'app:eat' %}">Eat</a></li>
    <li><a class = "text-white btn primary btn-lg" href="{% url 'app:play' %}">Play</a></li>
    <li><a class = "text-white btn primary btn-lg" href="{% url 'app:relax' %}">Relax</a></li>
</ul>

    <div>
        <img src="" alt="">
    </div>
    <div class=''>
        <img src="" alt="">
    </div>
    <div class=''>
        <img src="" alt="">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top first" src="{% static 'app/images/elephant.png' %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row ">
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <img class="card-img-top second" src="" alt="">
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="card">
                <img class="card-img-top third" src="{% static 'app/images/thirsty.png' %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top fourth" src="{% static 'app/images/horsing.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Testimonials</h2>
                <hr class="my-2">
                <div id="testimonials" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials" data-slide-to="1"></li>
                        <li data-target="#testimonials" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="testimonial"><i class="fas fa-quote-left fa-3x"></i>
                            <h2>A true adventure with the perfect strangers</h2>
                            <i class="fas fa-quote-right fa-3x move-right"></i>
                            <br>
                                <p><b>Lisa,</b> <i>China</i></p>
                            
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial">
                                <i class="fas fa-quote-left fa-3x"></i>
                                <h2>Spent a week with adventuresZW. The food was exceptional, the hike tiring, but worth the view.</h2>
                                <i class="fas fa-quote-right fa-3x move-right"></i>
                                <br>
                                <p><b>Jade,</b> <i>Mauritius</i></p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonial">
                                <i class="fas fa-quote-left fa-3x"></i> 
                                <h2>Accommodating and fun. Chose a few events from their calendar.</h2>
                                
                                <i class="fas fa-quote-right fa-3x move-right"></i>
                                <br>
                                <p><b>Tristan,</b> <i>Australia</i></p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}