{% extends 'window.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" style='text-align:center'><u>"You have to get lost before you can be found"</u></h1>
    </div>
</div>

<div style='display:flex;flex-direction:row;justify-content:center;'>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/pricing.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3>Ngomakurira Hike</h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Ngomakurira is known to many Harare residents as an area of intense beauty and great spiritual
                    significance. A strenuous hike...</p>
            </div>
        </div>
        <div class="pocket secondary">
            <div style='margin:50px 100px;'>
                <button class="btn btn-primary "> Book It</button>
            </div>
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/pricing.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3>Nocturnal life</h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>If nightlife is something you enjoy, let us whisk you away on a 5-hour tour, led by fun-loving
                    adventurers who know where to...</p>
            </div>
        </div>
        <div class="pocket secondary">
            <div style='margin:50px 100px;'>
                <button class="btn btn-primary "> Book It</button>
            </div>
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/pricing.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3>Mbare Township</h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>A hub of culture and creativity, Mbare boasts the largest indigenous textile and wholesale retailers.
                    Let us venture through...</p>
            </div>
        </div>
        <div class="pocket secondary">
            <div style='margin:50px 100px;'>
                <button class="btn btn-primary "> Book It</button>
            </div>
        </div>
    </div>
</div>
<div style='display:flex;flex-direction:row;justify-content:center;'>


    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/pricing.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3>Epworth</h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Extraordinary shaped rocks, seamlessly balancing on nothing. Enjoy the Zimbabwean sunset with locally
                    crafted snacks and...</p>
            </div>
        </div>
        <div class="pocket secondary">
            <div style='margin:50px 100px;'>
                <button class="btn btn-primary "> Book It</button>
            </div>
        </div>
    </div>

    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/pricing.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3>Craft and curio markets</h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>A trek around Harare's handmade gems. Expect to find one of a kind african print materials, clothing
                    and accessories. Carefully...</p>
            </div>
        </div>
        <div class="pocket secondary">
            <div style='margin:50px 100px;'>
                <button class="btn btn-primary "> Book It</button>
            </div>
        </div>
    </div>
    <div class='card animated-card' id='animated-test'>
        <img src="{% static 'app/images/pricing.png' %}" alt="" width='296' height='225'>

        <div class='sliding-card primary'>
            <div class="always-visible">
                <h3>Domboshava Caves</h3>
                <h5>5hr | See price list</h5>
            </div>
            <div class="slides-up">
                <p>Domboshava is a village located in the granite hills of northern Harare. The name is derived from
                    dombo meaning "rock" and shava...</p>
            </div>
        </div>
        <div class="pocket secondary">
            <div style='margin:50px 100px;'>
                <button class="btn btn-primary "> Book It</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}