{% extends 'window.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div  class='relax-card' style="background-image:url({% static 'app/images/game.png' %})">
                <div>
                    <h1>RE</h1>
                    <p>"Refuel your heart</p>
                </div>
            </div>
        </div>
        <div class="col-md-4  col-sm-12">
            <div  class='relax-card' style="background-image:url({% static 'app/images/wine2.png' %})">
                <div>
                    <h1>LA</h1>
                    <p>...and...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div  class='relax-card' style="background-image:url({% static 'app/images/horsing2.png' %})">
                <div>
                    <h1>X</h1>
                    <p>adventure on."</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="simple-relax-card">
                <div class="simple-relax-card-image">
                    <img src=" {% static 'app/images/thirsty.png' %} " alt="">
                </div>
                <div class="simple-relax-card-text">
                    <h1><a class='text-color-cards' href="{% url 'app:bookings' pk=9 %}">Ummm Thirsty</a></h1>
                    <hr class="my-4">
                    <p>Mon, Wed, Fri, Sat</p>
                    <p>4hrs</p>
                    <p>See price list</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="simple-relax-card">
                <div class="simple-relax-card-image">
                    <img src=" {% static 'app/images/elephant.png' %} " alt="">
                </div>
                <div class="simple-relax-card-text">
                    <h1><a class='text-color-cards' href="{% url 'app:bookings' pk=10 %}">Elephant Escapade</a></h1>
                    <hr class="my-4">
                    <p>Mon, Wed, Fri, Sat</p>
                    <p>4hrs</p>
                    <p>See price list</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="simple-relax-card">
                <div class="simple-relax-card-image">
                    <img src=" {% static 'app/images/horsing.png' %} " alt="">
                </div>
                <div class="simple-relax-card-text">
                    <h1><a class='text-color-cards' href="{% url 'app:bookings' pk=11 %}">Horsing Around</a></h1>
                    <hr class="my-4">
                    <p>Mon, Wed, Fri, Sat</p>
                    <p>4hrs</p>
                    <p>See price list</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}