{% extends 'window.html' %}
{% load static %}
{% block content %}
<style>
    .mine {
        max-width: 70%;
        margin: 0px auto;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12 mine">
            <h4>Tour terms and conditions</h4>
        
            <h5>Scope of Application</h5>
            <p>These General Terms and Conditions govern the legal relationship between the tour operator Adventures ZW and the tour participants as well as third parties booking tours for tour participants or acting as agents for tours (hereafter "Adventurers") for all services provided by Adventures ZW, in particular the organization of excursions (hereafter "Tour(s)") and their guiding. Zimbabwean law shall apply to the legal relationship between the Adventurer and Adventures ZW.</p>

            <h5>Booking Conditions</h5>
            <p>Tour bookings can only be done online and should be made as early as possible to guarantee the desired tour and itinerary. Adventures ZW will communicate confirmation of the booking once your deposit has reflected in our account. In the event of free participation, a booking must be made. Adventurers agree that their data, name, address, telephone number, birth date, nationality, and gender are collected by Adventures ZW for the carrying out of certain tours. Such data can be forwarded to third-party providers. If bookings for Adventurers are made by third parties (including bookings of Adventurer for other Adventurers), such third parties are liable both for payment of the booked service and communication of tour details and changes were applicable. Joining a Tour under the influence of drugs, medicines and/or excessive alcohol is not permitted.</p>

            <h5>Change of Booking</h5>
            <p>Changes in bookings (i.e. any change in the tour, the number of Adventurers or in the tour date) must be made in writing (e-mail) and are legally binding upon confirmation by Adventures ZW. For any change of booking a handling fee of US$5 per person in addition to any additional costs of the tour is due. Any change of date or tour cannot be guaranteed and shall be applied subject to availability.

</p>

            <h5>Last minute bookings</h5>
            <p>For bookings made less than 7 days prior to the tour, we charge the full amount. No refund in case of cancellation.

</p>

            <h5>Rates and Terms of Payment</h5>
            <p>All tour prices are quoted per person (unless otherwise stated) in US dollars. Prices are subject to change according to the section below. A non-refundable deposit is required at the time of booking, balance will be paid for in cash prior to the selected tour. Please refer to Our Adventures to see a detailed description of what is included in your tour price.</p>

            <h5>Changes in Tour Prices or Services</h5>
            <p>Adventures ZW reserves the right to change the published tour prices and currency at any given moment. Changes in prices in case of extraordinary circumstances (3rd party rate change) will be communicated in writing within 3 working days of being notified.

If the difference between the new and the initial tour price exceeds 5%, the Adventurer is entitled either to withdraw from the contract upon written notice within 5 days after the communication of the change in tour price or to book an alternative tour in the value of the initially booked tour without any rebooking fee. Further compensation for damages is excluded.
 </p>
            <p>Adventures ZW reserves the right to change the tour program at any time, prematurely curtail the tour or offer alternative solutions in case of extraordinary circumstances. Any additional costs of the tour shall be borne by the Adventurer. Adventures ZW undertakes to immediately inform the Adventurer of any changes in services and/or in the program. If the alternative solution is more expensive than the initially booked tour or unreasonable for the Adventurer, Adventurer is offered withdrawal free of charge. Any compensation for damages due to change(s) in tour prices or services is excluded.      </p>

            <h5>Photography</h5>
            <p>Adventures ZW reserves the right to film material and images of its travels and individual participants while on tour. The tour participants grant Adventures ZW all permission to use the material for commercial or otherwise.

​</p>

            <h5>Printing</h5>
            <p>Adventures ZW is not responsible for any possible printing errors in their brochures/leaflets/catalogs etc.

​</p>

            <h5>Cancellations by the Adventurer</h5>
            <p>All requests for cancellation must be received by e-mail at admin@adventures.co.zw. If we have to buy entrance tickets in advance (Private dinners, concerts, any and all third party hosted activity) in case of cancellation due to unforeseeable events, we will keep the amount paid for these tickets</p>

            <h5>Cancellations by AdventuresZW</h5>
            <p>It is at AdventuresZW discretion to cancel a tour that is jeopardized, considerably hindered or made impossible due to force majeure, meteorological hazard, official measures, political disturbances, strikes, demonstrations, difficult traffic conditions, closed roads or similar unforeseeable events. The same applies if the minimum number of participants paying the full tour price is not reached for regular tours. Compensation claims are excluded. In the case of last-minute (48 hours prior tour) cancellations, you will receive 50% your deposit back.

​</p>

            <h5>Refund</h5>
            <p>If a cancellation requires a refund of the amount, total or partial, the refund will be made within 14 days after the cancellation notice. All cancellation notices will be sent via email, in cases where email is not available a call will be made.

 </p>

            <h5>Luggage and Personal Items</h5>
            <p>AdventuresZW and its partners cannot be held responsible for the loss or theft of personal belongings and luggage and cannot guarantee the return of personal belongings and luggage left in the vehicles or anywhere else.

​</p>

            <h5>Pick-up and drop-off</h5>
            <p>Extra charges for a pickup and/or a drop off outside Harare.

 </p>

            <h5>Complaints</h5>
            <p>If you have any complaints while on tour, we advise you to address your tour guide and supplier of service right at the spot and we will do our utmost to find the best possible solution to your problem.</p>
            <p>Please feel free to send us a detailed complaint within 20 days after a contractually agreed tour in writing to admin@adventures.co.zw. Include details such as, what caused your dissatisfaction, the exact date of tour and tour guide, as well as solutions given whilst on tour. Complaints received by Adventures ZW after the expiry of this deadline cannot be accepted anymore, except if Adventurer proves that they were faultlessly prevented from meeting such deadline.</p>

            <h5>Travel Insurance</h5>
            <p>Adventurer’s need to keep in mind that safaris, adventure travel and particularly any physical activity like trekking long distances or climbing involve a certain risk factor and inherent dangers. Adventures ZW reserves the right to accept or retain participation for any person on a tour at any given time if we consider someone unsuitable for the trip. In this case, we will refund a fair and reasonable amount.

​</p>

<p>Adventures ZW must be informed in writing of any physical disability and food allergies requiring attention or treatment at the time of the reservation. We strongly advise you to arrange adequate insurance against any possible risk while on tour. The travel insurance should cover medical expenses and repatriation, personal accidents, tour cancellation and any kind of loss.</p>

            <h5>Transportation</h5>
            <p>The transportation provided for you will be according to your route and number of participants. English speaking drivers and/or guides are included in your transportation and tour. Adequate health and accident insurance coverage is the responsibility of the Adventurer (including supplementary insurance against sports accidents in case of Tours with sports activities).

 </p>

 <p>Furthermore, Adventurers are obliged to wear seat belts and to use child safety seats, if applicable. Adventures ZW reserves the right to exclude an Adventurer from the tour with immediate effect in case of non-compliance with the terms of participation or violation of any instructions. In case a minor Adventurer is excluded, the accompanying person is also excluded from the Tour. In case the exclusion is made prior to the tour start, the terms of cancellation apply analogously. In case the exclusion is made during a tour, the Adventurer has no right to a refund of the tour price. In case of exclusion, any and all claims for damages against Adventures ZW are excluded.</p>
 <p>If the Adventurer is not present in time at the departure respectively meeting point for the start of or during the tour, Adventures ZW reserves the right to exclude the Adventurer from the tour after a waiting period of 10 minutes and to depart without the Adventurer. In this case, the Adventurer is neither entitled to a refund of the tour price nor may the Adventurer claim any damages.</p>

 
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Click the button below to download our Liability release form.</p>

            <a href="{% static 'app/release_form.pdf' %}" class="btn btn-block quarternary" download><i class="fa fa-download" aria-hidden="true"></i> Release Form</a>
        </div>
    </div>
</div>

{% endblock content %}