.primary {
    background-color: #155E63;
    color: #eeeeee;
}

.secondary {
    background-color: #6BA8A9;
}

.tertiary {
    background-color: #F9F8EB;
}

.quarternary {
    background-color: #EAE7E7;
}

.adventure-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.animated-card {
    width: 300px;
    height: 450px;
    border: 2px solid #155E63;
    position: relative;
    margin: 10px;
    overflow:hidden;
}

.animated-card>img {
    filter: blur(0px);
    position: absolute;
    transition: filter 0.5s ease-out, transform 0.5s ease-out;
}

.sliding-card {
    display: flex;
    flex-direction: column;
    height: 168.75px;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 225px;
    z-index: 5;
    transition: top 0.3s linear, height 0.3s ease-out;
    color: #eeeeee;
}


.sliding-card h3:hover {
    color: #155E63;
    background-color: #6BA8A9;
    padding: 0.75rem;
    border-radius: 5px;

}

.sliding-card a:hover {
    text-decoration: none;
}

.always-visible {
    flex: 1;
    text-align: center;
}

.slides-up {
    flex: 1;
    text-align: center;
    visibility: hidden;
    transition: visibility 0.4s linear;
}

.pocket {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
}

.custom-carousel img {
    width: 100%;
    height: 400px;
    max-height: 400px;
}

.center {
    text-align: center;
    max-width: 50%;
    margin: 0px auto;
}

.adventure-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.adventure-content img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0px auto;
}

body {
    background-color: #e5dfdf;
}

/* homepage border color from first to fourth */
.first {
    border-color: #FD5E53;
    border-style: solid;
    border-width: 5px;
}

.second {
    border-color: rgb(25, 182, 25);
    border-style: solid;
    border-width: 5px;
    min-height: 448px;
}

.third {
    border-color: #FF4040;
    border-style: solid;
    border-width: 5px;
}

.fourth {
    border-color: whitesmoke;
    border-style: solid;
    border-width: 5px;
}

/* activities align */

.activities li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.activities {
    margin: 0px auto;
    font-size: 1.5rem;
}

.footer-custom {
    background-color: #1d4d4f;
    color: #eeeeee;

}

.footer-custom a {
    color: #6ba8a9;
    text-decoration: none;
}

.footer-form input,
.footer-form button {
    margin: 0.25rem 0px;
}


.footer-social>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    ju
}

.footer-social i {
    font-size: 2rem;
}

.nav-custom {
    background-color: #1d4d4f;
    color: #eeeeee;
}

.nav-custom a {
    background-color: #1d4d4f;
    color: #eeeeee;
}

.adventure-text {
    color: whitesmoke;
}

@media(min-width:800px) {

    .eat-text {
        width: 350px;
        height: 250px;
        position: absolute;
        top: 30px;
        left: 300px;
        z-index: 1;
        background-color: #EAE7E7;
        padding: 20px;
        box-shadow: 5px 10px 30px #aaa;
    }

    .eat-card {
        height: 330px;
        position: relative;
        margin: 20px;
    }
}

@media(max-width:799px) {

    .eat-text {
        width: 350px;
        height: 250px;
        position: absolute;
        top: 200px;
        left: 50px;
        z-index: 1;
        background-color: #EAE7E7;
        padding: 20px;
        box-shadow: 5px 10px 30px #aaa;
    }

    .eat-card {
        height: 450px;
        position: relative;
        margin: 20px;
    }
}


.eat-image {
    width: 400px;
    height: 250px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.eat-image img {
    width: 100%;
    height: auto;
}

.img-circle-container {
    position: relative;
}

.scroll-area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hover-scroll {
    position: absolute;
    height: 280px;
    width: 50px;
    background-color: #155E63;
    z-index: 100;
    text-align: center;
    font-size: 4rem;
    color: #eee;
    padding-top: 90px;
}

#hover-scroll-l {
    left: 0px;
}

#hover-scroll-r {
    right: 0px;
}

.img-circle {
    width: 250px;
    min-width: 250px;
    margin: 1rem;
    height: 250px;
    flex: 1;
    border-radius: 125px;
    background-size: cover;
    border: 1px solid #155E63;
}

.hero-text {
    font-size: 6rem;
    font-weight: 200;
    text-decoration: underline;
    text-align: center;
}

.shimmer {
    background-color: #155E63;
    color: #eee;
    animation: glimmer 10s ease-in-out infinite;
}

@keyframes glimmer {
    0% {
        background-color: #155E63;
    }

    50% {
        background-color: #6BA8A9;
    }

    100% {
        background-color: #155E63;
    }
}

.relax-card {
    height: 400px;
    color: white;
    text-align: center;
    margin: 10px;
}

.relax-card div {
    background-color: #155E63;
    height: 100%;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.relax-card div:hover {
    opacity: 1;
}

.relax-card h1 {
    font-size: 12rem;
}
@media(max-width: 800px){
    .simple-relax-card {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: 5px 10px 30px #aaa;
    
    }
}

@media(min-width: 801px){
    .simple-relax-card {
        display: flex;
        flex-direction: row;
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: 5px 10px 30px #aaa;
    
    }
}


.simple-relax-card-text {
    flex: 1;
    padding: 2rem;
    margin: 10px;

}

.simple-relax-card-image {
    flex: 1;
}

.simple-relax-card-image img {
    width: 100%;
    height: auto;
}

.text-grad {
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.text-grad h4 {
    color: #eee;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.about-text {
    text-align: center;
}

@media(min-width:800px) {
    .about-text p {
        max-width: 50%;
        width: 50%;
    }

    .testimonial {
        max-width: 50%;
        color: #155E63;
        background-color: #eee;
        margin: 2rem auto;
        padding: 2rem;
        border: 2px solid #155e63;
        border-radius: 2rem 5px 0px 5px;
    }
}
@media(max-width:799px){
    .testimonial {
        color: #155E63;
        background-color: #eee;
        margin: 2rem auto;
        padding: 2rem;
        border: 2px solid #155e63;
        border-radius: 2rem 5px 0px 5px;
    }
}


.testimonial h2{
    font-family: Arial, Helvetica, sans-serif;
}

.testimonial p{
    text-align: right;
    margin-top: 1rem;
}

.huge {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.huge:nth-child(3) {
    font-size: 2rem;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-weight: 200;
}

.move-right {
    float: right;
}

.text-color-cards {
    color: #155e63;
}

.text-color-cards:hover {
    background-color: #155E63;
    color: #eee;
    padding: 0.75rem;
    border-radius: 5px;
    text-decoration: none;
}

h3 {
    margin: 1rem 0;
}

.detail-image {
    width: 300px;
    height:300px;
    border-radius: 150px;
    background-size: cover;
    margin: 0px auto;
}

main {
    min-height: 100vh;
}

.shadow {
    box-shadow: 5px 10px 30px #aaa;
}

.gap {
    margin-top: 2rem;
}

.rounded {
    border-radius: 20px;
}
