.primary {
    background-color: #155E63;
    color: #eeeeee;
}

.secondary {
    background-color: #6BA8A9;
}

.tertiary {
    background-color: #F9F8EB;
}

.quarternary {
    background-color: #EAE7E7;
}

.adventure-rows {
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}

.animated-card {
    width: 300px;
    height: 450px;
    border: 2px solid #155E63;
    position: relative;
    margin: 10px;
}

.animated-card>img {
    filter: blur(0px);
    position: absolute;
    transition: filter 0.5s ease-out;
}

.sliding-card {
    display: flex;
    flex-direction: column;
    height: 168.75px;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 225px;
    z-index: 5;
    transition: top 0.3s linear, height 0.3s ease-out;
    color: #eeeeee;
}

.always-visible {
    flex: 1;
    text-align: center;
}

.slides-up {
    flex: 1;
    text-align: center;
    visibility: hidden;
    transition: visibility 0.4s linear;
}

.pocket {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
}

.custom-carousel img {
    width: 100%;
    height: 400px;
    max-height: 400px;
}

.center {
    text-align: center;
}

.adventure-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.adventure-content img {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0px auto;
}

body {
    background-color: #e5dfdf;
}

/* homepage border color from first to fourth */
.first {
    border-color: #FD5E53;
    border-style: solid;
    border-width: 5px;
}

.second {
    border-color: rgb(25, 182, 25);
    border-style: solid;
    border-width: 5px;
    min-height: 448px;
}

.third {
    border-color:#FF4040;
    border-style: solid;
    border-width: 5px;
}

.fourth {
    border-color:whitesmoke;
    border-style: solid;
    border-width: 5px;
}

/* activities align */

.activities li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.activities {
    margin: 0px auto;
    font-size: 2rem;
}

.footer-custom {
    background-color: #1d4d4f;
    color: #eeeeee;
    
}

.footer-custom a {
    color: #6ba8a9;
    text-decoration:none;
}

.nav-custom {
    background-color: #1d4d4f;
    color: #eeeeee;
}

.nav-custom a {
    background-color: #1d4d4f;
    color: #eeeeee;
}

.adventure-text {
    color: whitesmoke;
}

.footer-form input, .footer-form button{
    margin-top: 0.25rem
}


.eat-image {
    width: 40vw;
    height: 25vw;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.eat-card {
    position: relative;
    margin: 20px;
}

.eat-text {
    width: 25vw;
    height: 20vw;
    position: absolute;
    top: 2.5vw;
    left: 30vw;
    z-index: 1;
    background-color: #EAE7E7;
    padding: 20px;
    box-shadow: 5px 10px 15px;
}

.eat-image img{
    width: 100%;
    height: auto;

}

.hero-text {
    font-size: 6rem;
    font-weight: 200;
    text-decoration: underline;
    text-align: center;
}

.shimmer {
    background-color: #155E63;
    color: #eee;
    animation: glimmer 10s ease-in-out infinite;
}

@keyframes glimmer {
    0%{
        background-color:  #155E63;

    }
    50%{
        background-color:  #6BA8A9;
    }

    100%{
        background-color:  #155E63;
    }
}

.relax-card {
    height: 400px;
    color: white;
    text-align: center;
    margin: 10px;
}

.relax-card div {
    background-color: #155E63;
    height: 100%;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.relax-card div:hover {
    opacity: 1;
}

.relax-card h1{
    font-size: 12rem;
}

.simple-relax-card{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 10px 15px;

}

.simple-relax-card-text{
    flex: 1;
    padding: 2rem;
    margin: 10px;
    
}

.simple-relax-card-image{
    flex: 1;
}

.simple-relax-card-image img{
    width: 100%;
    height: auto;
}