{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title%}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'app/css/mpaso.css' %}">
    <link rel="stylesheet" href="{% static 'app/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'app/js/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'app/js/mpaso.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">
                    {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
        
        {% endif %}
    </div>
    {% block window %}{% endblock %}
    
    <script>
        $("input[name='date']").datepicker({
        changeYear: true,
        changeMonth: true,
        dateFormat: 'yy-mm-dd' 
        });
    
    </script>

</body>
</html>

